#explore-section {
    height: 100%;
    width: 100%;

    & .explore-header {
        color: white;

        & .explore-input {
            width: 100%;
            border-radius: 10px;
            height: 40px;
            color: white;
            border: 1px solid var(--twitter-blue);
            background: transparent;
            padding: 10px;
            font-size: 1.3rem;
        }
    }

    & .people-container {
        height: 100%;
        width: 100%;
        color: white;
        padding: 10px;

        & .explore-loading {
            height: 100%;
            padding: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

        }

        & .explored-list-group {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            & .explored-list-item {
                display: flex;
                gap: 10px;

                & .e-profile-img {
                    width: 40%;

                }

                & .e-user-info {
                    width: 100%;
                }

                & .e-btn-wrapper {
                    & button {
                        background: var(--twitter-blue);
                        color: white;
                        font-weight: 500;
                        padding: 5px 15px;
                        text-align: center;
                        display: block;
                        font-size: 1.2rem;
                        border-radius: 10px;
                        cursor: pointer;
                        border: none;
                    }
                }
            }

            &.explored-list-item:hover {
                background: rgba(gray, 0.5);

            }
        }
    }
}

.explore-loading svg {
    animation: rotation 1s infinite;
    /* Apply the rotation animation */
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#pending-request-section {
    height: 100%;

    & #pending-request-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & .req-wrapper {
            height: 80px;
            display: flex;
            color: white;
            background: rgba(129, 123, 123, 0.5);
            border-radius: 10px;
            padding: 10px;



            & .req-user-info {
                height: 100%;
                width: 100%;

                & .profile-img {
                    width: 200px;
                    height: 100%;
                    background: yellow;
                    padding: 5px;
                }

                & .profile {
                    height: 50%;
                    width: 100%;
                    text-transform: capitalize;
                    font-size: 1.3rem;
                    font-weight: 500;
                    padding: 5px;
                }

                & .action-wrapper {
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 10px;

                    & .btn-accept {
                        background: var(--twitter-blue);
                        color: white;
                        border-radius: 10px;
                        cursor: pointer;
                        border: none;
                        padding: 5px 10px;
                        color: white;
                    }

                    & .btn-reject {
                        background: var(--twitter-primary-red);
                        color: white;
                        border-radius: 10px;
                        cursor: pointer;
                        border: none;
                        padding: 5px 10px;
                        color: white;
                    }

                }
            }
        }
    }
}






#replies {
    & .replies-wrapper {

        & .parent-post-container {
            padding: 10px;

            & .parent-content-wrapper {
                color: white;
                display: flex;
                gap: 5px;
                padding: 10px;


                & .profile-image {

                    width: 50px;

                    & img {
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                    }
                }

                & .post-content {
                    width: 100%;
                    height: 100px;

                    & .post-header {
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        padding-bottom: 10px;

                        & .username {
                            font-weight: 700;
                            font-size: 1.5rem;
                            text-transform: capitalize;
                        }

                        & .date {
                            font-size: 0.8rem;
                            color: gray;
                        }
                    }
                }
            }


        }

    }

    & #reply-box {
        /* position: relative; */
        /* height: 400px; */

        width: 100%;
        /* background: red; */
        padding-top: 10px;
        margin-bottom: 10px;

        & .form-wrapper {
            width: 100%;
            position: stick;
            border-bottom: 1px solid var(--twitter-blue);
            margin-bottom: 10px;

            & #repost-form {
                width: 100%;
                display: flex;
                gap: 10px;
                align-items: flex-end;
                background: #000;
                padding: 5px;

                /* filter: opacity(10); */
                & #repost-input {
                    display: block;
                    background: transparent;
                    border: none;
                    width: 100%;
                    color: white;
                    resize: none;
                    /* color: white; */
                }

                & #repost-input:focus {
                    outline: none;
                    border: none;
                }



                & button {
                    color: white;
                    background: var(--twitter-blue);
                    padding: 5px 15px;
                    font-size: 0.9rem;
                    border: none;
                    border-radius: 10px;

                }
            }
        }
    }

    & #child-post {
        color: white;
        max-height: 500px;
        overflow: auto;

        & .post {
            height: fit-content;
            padding: 10px;
            border-bottom: 1px solid gray;

            & .post-content-wrapper {
                & .post-content-upper {
                    display: flex;
                    gap: 5px;

                    & .for-profile-img {
                        width: 70px;

                    }

                    & .for-content {
                        width: 100%;

                        & .post-header {
                            padding: 5px 0px;
                            width: 100%;

                            & .username {
                                font-size: 1rem;
                                font-weight: 500;
                                text-transform: capitalize;

                            }

                            & .date {
                                font-size: 0.8rem;
                                color: gray;

                            }
                        }

                        & .content-wrapper {
                            font-size: 1.2rem;

                        }

                    }

                }

                & .action-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px;
                    font-size: .8rem;

                }

            }
        }
    }
}

#edit-profile {
    width: 100%;
    & #profile-image-preview{
        width:100px;
        background: white;
        aspect-ratio: 1/1;
        object-fit: contain;
        margin: auto;
    }

    & #edit-profile-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        & .img{
            padding: 5px ;
            & label{
                border: 2px dotted var(--twitter-blue);
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                border-radius: 10px;

                & input{
                    display: block;
                    padding: 10px ;
                    height: fit-content;
                    width: 100%;
                    color: var(--twitter-blue);
                    font-weight: 800;
                    background: transparent;
                }
            }
        }

        & .edit-input-wrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 5px;

            & label{
                color: white;

            }
            & input{
                width: 100%;
                height: 40px;
                padding: 10px;
                background: transparent;
                color: white;
                border:none;
                border-bottom: 2px solid  var(--twitter-blue);

            }
            & input:focus{
                border: none;
                border-bottom: 2px solid  var(--twitter-blue);
                outline: none;
            }
            & textarea{
                width: 100%;
                padding: 10px;
                background: transparent;
                color: white;
                border:none;
                border-bottom: 2px solid  var(--twitter-blue);
            }
            & textarea:focus{
                border: none;
                border-bottom: 2px solid  var(--twitter-blue);
                outline: none;
            }
        }
        & .post-form-button-wrapper{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            & button{
                display: flex;
                align-items: center;
                gap: 10px;
                background: var(--twitter-blue);
                color: white;
                
                border:1px solid var(--twitter-blue);
                padding: 5px 10px;
                border-radius: 10px;
            }
            & button:hover{
                background: transparent;
                color: var(--twitter-blue);
            }
        }
    }
}