#explore-section {
    height: 100%;
    width: 100%;

    & .explore-header {
        color: white;

        & .explore-input {
            width: 100%;
            border-radius: 10px;
            height: 40px;
            color: white;
            border: 1px solid var(--twitter-blue);
            background: transparent;
            padding: 10px;
            font-size: 1.3rem;
        }
    }

    & .people-container {
        height: 100%;
        width: 100%;
        color: white;
        padding: 10px;

        & .explore-loading {
            height: 100%;
            padding: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

        }

        & .explored-list-group {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            & .explored-list-item {
                display: flex;
                gap: 10px;

                & .e-profile-img {
                    width: 40%;

                }

                & .e-user-info {
                    width: 100%;
                }

                & .e-btn-wrapper {
                    & button {
                        background: var(--twitter-blue);
                        color: white;
                        font-weight: 500;
                        padding: 5px 15px;
                        text-align: center;
                        display: block;
                        font-size: 1.2rem;
                        border-radius: 10px;
                        cursor: pointer;
                        border: none;
                    }
                }
            }

            &.explored-list-item:hover {
                background: rgba(gray, 0.5);

            }
        }
    }
}

.explore-loading svg {
    animation: rotation 1s infinite;
    /* Apply the rotation animation */
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#pending-request-section {
    height: 100%;

    & #pending-request-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & .req-wrapper {
            height: 80px;
            display: flex;
            color: white;
            background: rgba(129, 123, 123,0.5);
            border-radius: 10px;
            padding: 10px;



            & .req-user-info {
                height: 100%;
                width: 100%;

                & .profile-img {
                    width: 200px;
                    height: 100%;
                    background: yellow;
                    padding: 5px;
                }

                & .profile {
                    height: 50%;
                    width: 100%;
                    text-transform: capitalize;
                    font-size: 1.3rem;
                    font-weight: 500;
                    padding: 5px;
                }

                & .action-wrapper {
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 10px;

                    & .btn-accept {
                        background: var(--twitter-blue);
                        color: white;
                        border-radius: 10px;
                        cursor: pointer;
                        border: none;
                        padding: 5px 10px;
                        color: white;
                    }

                    & .btn-reject {
                        background: var(--twitter-primary-red);
                        color: white;
                        border-radius: 10px;
                        cursor: pointer;
                        border: none;
                        padding: 5px 10px;
                        color: white;
                    }

                }
            }
        }
    }
}