{% extends "login-base.html" %}

{%block content %}



<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    async function editPost(postId){
        const res = await fetch(`get-post/${postId}/`)
        const data = await res.json()
        console.log(data,"get post");
    }
    async function deletePost(postId) {
        const csrfToken = getCookie('csrftoken'); // Ensure the CSRF token is available
        const response = await fetch(`/delete-post/${postId}/`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken// Include CSRF token in the request
            }
        });
        if (response.ok) {
            // document.getElementById(`post-${postId}`).remove();
            console.log('Post deleted successfully');
        } else {
            console.error('Failed to delete post');
        }
    }
    
</script>
{%endblock%}