{% block sidebar %}
    <nav class="navbar">
        <div class="logo-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m3 21l7.548-7.548M21 3l-7.548 7.548m0 0L8 3H3l7.548 10.452m2.904-2.904L21 21h-5l-5.452-7.548" color="currentColor"/></svg>
        </div>
        <ul>
            <li class="box box1">
                <span> Home</span></li>
            <li class="box box2"><span>Explore</span></li>
            <li class="box box3"><span>Notification</span></li>
            <li class="box box4"><span>Messgaes</span></li>
            <li class="box box5">
                <a id="open-modal" href='{% url "create_post" %}'>Add Post</a>
            </li>
        </ul>
        <div class="profile">
            umang sahu
        </div>
    </nav>
{% endblock %}

<!-- 
<script>
    document.getElementById('open-modal').addEventListener('click',(event)=>{
        document.createElement('section')
    })
</script> -->